[submodule "Citybike-backend"]
	path = Citybike-backend
	url = https://github.com/homebeach/Citybike-backend.git
[submodule "Citybike-frontend"]
	path = Citybike-frontend
	url = https://github.com/homebeach/Citybike-frontend.git
